@charset "utf-8";

body.page-vrl {
  writing-mode: vertical-rl;
  -epub-writing-mode: vertical-rl;
  line-height: 1.9;
}

.vrl-title {
  font-size: 1.5em;
}

.vrl-section {
  margin: 1em 0;
}

.vrl-section p {
  text-indent: 1em;
}

.vrl-section h2 {
  writing-mode: vertical-rl;
  -epub-writing-mode: vertical-rl;
  font-size: 1.3em;
  margin: 0 1em;
}

.vrl-section ruby {
  ruby-position: over;
}

.vrl-section rt {
  font-size: .55em;
}
