@charset "utf-8";

sup { vertical-align: middle; line-height: 1; }
.noteref-icon img,
a.duokan-footnote img { width: .9em; height: .9em; vertical-align: text-top; }
.footnote-line { margin: 1em 0 .65em; border: 0; border-top: 1px solid #716b63; }
.footnote-list,
ol.duokan-footnote-content { margin: 0; padding: 0; list-style: none; }
.footnote-item,
.footnote-item.duokan-footnote-item { margin: .4em 0; padding: 0; list-style: none; }
.footnote { margin: .35em 0; text-align: left; text-indent: 0; font-size: .88em; line-height: 1.4; }
.footnote-back { margin-right: .25em; text-decoration: none; }
